.movie-filter-container {
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .movie-filter-genre-container {
    flex: 1;
    margin-right: 10px;
  }

  .genre-filter-select__control {
    /*!important - forçar o nosso estilo sobreescrever o original (de terceiro) */
    font-size: 16px;
    letter-spacing: -0.015em;
    background-color: #6C6C6C !important;
  }

  .genre-filter-select__menu {
    background-color: #6C6C6C !important;
    color: #fff !important;
    font-size: 16px;
  }

  .genre-filter-select__single-value {
    color: #fff !important;
  }
  
  .genre-filter-select__placeholder {
    color: #fff !important;
  }
  
  .genre-filter-select__indicator-separator {
    display: none;
  }


  @media (min-width: 576px) {
    .movie-filter-genre-container {
      width: 260px;
      margin-right: 10px;
    }
  }