.main-nav {
  padding-left: 25px;
  min-height: 15px; 
}

.nav-logo-text, .nav-logo-text:hover{
  color: #000000;
  font-size: 24px;
}

.nav-logo-text h4{
  font-weight: 700;
}

.nav-login-logout {
  margin-right: 10px;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 4px 20px;
  font-size: 14px;
}


@media (min-width: 1200px) {
  .nav-login-logout {
    margin-right: 20px;
  }
}

