.reviewList-container {
  padding: 10px;
}

.reviewList-content-container {
  font-size: 16px;
  /*Inserir quebra de linha para o texto de dentro da div de acordo com o seu tamanho se o texto não tiver espaço*/
  word-wrap: break-word;
}

.reviewList-nome {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 10px
}

.reviewList-nome SVG{
    margin-right: 15px;
}

.reviewList-description {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 1em;
  color: #9e9e9e;
  letter-spacing: -0.015em;
  padding: 10px;
}

@media (min-width: 768px) {
  .reviewList-container {
    padding: 20px 40px;  
  }
}
