.moviedetails-container {
  padding: 15px;
  font-size: 24px;
  color: #fff;
}

.moviedetails-content-container {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .moviedetails-container {
    padding: 40px;
  }
}
